[submodule ".registry"]
	path = .registry
	url = https://github.com/doccstat/doccstat.r-universe.dev
	branch = HEAD
[submodule "fastcpd"]
	path = fastcpd
	url = https://github.com/doccstat/fastcpd
[submodule "fastglm"]
	path = fastglm
	url = https://github.com/jaredhuling/fastglm
	registered = false
